<ion-header>
  <ion-toolbar color="light">
    <ion-title>MovieRestApi</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="searchTitle" placeholder="Recherche"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="searchMovie()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img_box">
    <img [src]="movieData.imageUrl" />
  </div>
  <h1>{{ movieData.title }}</h1>
  <p>{{ movieData.description }}</p>
</ion-content>
